{% extends 'base.html' %}
{% load static %}
{% block title %} MultiBlogs {% endblock %}
{% block content %}


<div class="container">
	<div class="jumbotron jumbotron-fluid mb-3 pt-0 pb-0 bg-lightblue position-relative">
		<div class="pl-4 pr-0 h-100 tofront">
			<div class="row justify-content-between">
				<div class="col-md-6 pt-6 pb-6 align-self-center">
					<h2 class="secondfont mb-3 font-weight-bold">Where idea explosion!!!</h2>
					<p class="mb-3">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, harum excepturi? Tempora
						voluptate earum, atque quia recusandae iure quos maiores? Sequi iste quam necessitatibus
						consequatur deleniti saepe unde et ab!
					</p>

					<a href="#" class="btn btn-dark">Read More</a>
				</div>
				<div class="col-md-6 d-none d-md-block pr-0"><img style="background-size: cover;"
						src="{% static 'images/blog.jpeg' %}" alt=""> </div>
			</div>
		</div>
	</div>
</div>



<div class="container py-4 " style="margin-bottom: 70px;">
	<div class="row">
		<div class="col-lg-6">

			<div class="card border-0 mb-4 box-shadow h-xl-300">
				<div>
					<img src="{% static 'images/blog2.jpg' %}"
						style="height: 200px; background-size: cover; background-repeat: no-repeat; width: 100%;"
						alt="">
				</div>
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
						<a class="text-dark" href="{% url 'view_post' s_post.id %}"> {{ s_post.title }}</a>
					</h2>
					<p class="card-text">
						{{ s_post.description|truncatechars:150 }}
					</p>
					<div>
						<small class="d-block">
							{% if s_post.author.author_img %}
							<img height="20" class="rounded-circle shadow" style="border-radius: 50%;"
								src="{{ s_post.author.author_img.url }}">
							{% else %}
							<img class="rounded-circle shadow" height="20"
								src="https://www.pngarts.com/files/11/Avatar-PNG-Transparent-Image.png" alt="">
							{% endif %}
							<a class="text-muted" href="#">{{s_post.author.author.username}}</a></small>
						<small class="text-muted">{{ s_post.created_date | timesince }} ago . {{s_post.visit_count}}
							views</small>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="flex-md-row mb-4 box-shadow h-xl-300">
				
					{% for post in last_post %}
					<div class="mb-3 d-flex align-items-center">
						{% if post.image %}
						<img height="20" width="20" src="{{ post.image.url }}">
						{% else %}
						<img height="20" width="20" src="{% static 'empty.jpg' %}">
						{% endif %}
						<div class="pl-3">
							<h2 class="mb-2 h6 font-weight-bold">
								<a class="text-dark" href="{% url 'view_post' post.id %}">{{ post.title }}</a>
							</h2>
							<div class="card-text text-muted small">
								{{ post.description }}
							</div>
							<small class="text-muted">{{ post.created_date | timesince }}. Views {{ post.visit_count }}</small>
						</div>
					</div>
					{% endfor %}
				

			</div>
		</div>

	</div>
</div>



<div class="container">
	<div class="row justify-content-between">
		<div class="col-md-8">
			<h5 class="font-weight-bold spanborder"><span>All Stories</span></h5>

			{% for p in last_post %}
			<div class="mb-3 d-flex justify-content-between">
				<div class="pr-3">
					<h2 class="mb-1 h4 font-weight-bold">
						<a class="text-dark" href="{% url 'view_post'  p.id %}">{{ p.title }}</a>
					</h2>
					<p>
						{{ p.description | truncatechars:100 }}
					</p>
					<div class="card-text text-muted small">
						{% if p.author.author_img %}
						<img height="20" class="rounded-circle shadow" style="border-radius: 50%;"
							src="{{ p.author.author_img.url }}">
						{% else %}
						<img class="rounded-circle shadow" height="20"
							src="https://www.pngarts.com/files/11/Avatar-PNG-Transparent-Image.png" alt="">
						{% endif %}
						{{ p.author.author.username }} in <a class="text-dark" href="">{{ p.catagories.name }} </a>

					</div>
					<small class="text-muted">{{p.created_date|timesince }} ago ; {{ p.visit_count}} views </small>
				</div>
				<img height="120" src="{{ p.image_url }}">
			</div>
			{% endfor %}


		</div>
		<div class="col-md-4 pl-4">
			<h5 class="font-weight-bold spanborder"><span>Popular</span></h5>
			<ol class="list-featured">
				{% for p in last_post %}
				<li>
					<span>
						<h6 class="font-weight-bold">
							<a href="{% url 'view_post' p.id %}" class="text-dark">{{ p.title }}</a>
						</h6>
						<p class="text-muted"> {{p.category.name}}</p>
					</span>
				</li>
				{% endfor %}
				<!-- <li>
					<span>
						<h6 class="font-weight-bold">
							<a href="#" class="text-dark">Humans Reversing Climate Clock: 50 Million Years</a>
						</h6>
						<p class="text-muted">
							Jake Bittle in SCIENCE
						</p>
					</span>
				</li>
				<li>
					<span>
						<h6 class="font-weight-bold">
							<a href="#" class="text-dark">Unprecedented Views of the Birth of Planets</a>
						</h6>
						<p class="text-muted">
							Jake Bittle in SCIENCE
						</p>
					</span>
				</li>
				<li>
					<span>
						<h6 class="font-weight-bold">
							<a href="#" class="text-dark">Effective New Target for Mood-Boosting Brain Stimulation
								Found</a>
						</h6>
						<p class="text-muted">
							Jake Bittle in SCIENCE
						</p>
					</span>
				</li>
				<li>
					<span>
						<h6 class="font-weight-bold">
							<a href="#" class="text-dark">Did Supernovae Kill Off Large Ocean Animals?</a>
						</h6>
						<p class="text-muted">
							Jake Bittle in SCIENCE
						</p>
					</span>
				</li> -->
			</ol>
		</div>
	</div>
</div>
{% endblock %}