{% extends 'base.html' %}
{% load static %}

{% block title %} {{post_obj.title}} {% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-fluid bg-white position-relative">
        <div class="h-100 tofront">
            <div class="row justify-content-between">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert{% if message.tags %} {{ message.tags }} {% endif %}" role="alert">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    {% endfor %}
                </div>
                {% endif %}

                <div class="col-md-6 pt-6 pb-6 pr-6 align-self-center">
                    <p class="text-uppercase font-weight-bold">
                        <a class="text-danger" href="">{{ post_obj.category }}</a>
                    </p>
                    <h1 class="display-4 secondfont mb-3 font-weight-bold">{{ post_obj.title }}</h1>
                    <p class="mb-3">{{ post_obj.description }}</p>
                    <div class="d-flex align-items-center">
                        {% if post_obj.author.author_img %}
                            <img class="rounded-circle shadow" src="{{ post_obj.author.author_img.url }}" alt="">
                        {% else %}
                        <img class="rounded-circle shadow" src="https://www.pngarts.com/files/11/Avatar-PNG-Transparent-Image.png" alt="">
                        {% endif %}

                    </div>
                </div>
                <div class="col-md-6 pr-0">
                    <img src="{{ post_obj.image.url }}" alt="">
                </div>
            </div>

        </div>

    </div>
</div>

<div class="container pt-4 pb-4">
	<div class="row justify-content-center">
		<div class="col-lg-2 pr-4 mb-4 col-md-12">
			<div class="sticky-top text-center">
				<div class="text-muted">
					Share this
				</div>
				<div class="share d-inline-block">
					<!-- AddToAny BEGIN -->
					<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
						<a class="a2a_button_facebook"></a>
						<a class="a2a_button_twitter"></a>
					</div>
					<script async src="https://static.addtoany.com/menu/page.js"></script>
					<!-- AddToAny END -->
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-8">
			<div class="border p-5 bg-lightblue">
				<div class="row justify-content-between">
					<div class="col-md-5 mb-2 mb-md-0">
						<h5 class="font-weight-bold secondfont">Become a member</h5>
						 Get the latest news right in your inbox. We never spam!
					</div>
					<div class="col-md-7">
                        <form action="{% url 'subscribe' %}" method="POST">
						<div class="row">
                            
                                {% csrf_token %}
							<div class="col-md-12">
								<input type="email" name='subscribe' class="form-control" placeholder="Enter your e-mail address" required>
							</div>
							<div class="col-md-12 mt-2">
								<button type="submit" class="btn btn-success btn-block">Subscribe</button>
							</div>
                        
						</div>
                    </form>
					</div>
				</div>
			</div>

			<form style="margin-top:50px;" action="{% url 'comment' post_obj.id %}" method="POST">
				{% csrf_token %}
				<div class="row form-group">
					<div class="col">
						<input type="text" name='name' class="form-control" placeholder="Your Name">
					</div>
				</div>
				<div class="form-group">
					<textarea class="form-control" name='body' id="exampleFormControlTextarea1" rows="4"></textarea>
				</div>
				<button type="submit" class="btn btn-primary btn-round">Submit Comment </button>
			</form>
			<br>


				{% for p in post_obj.comments.all %}
				<!-- {% if forloop.counter|divisibleby:2 %} -->
				<div style="border-radius: 10px; margin: 5px; padding: 25px; background-color: #d8d8d8; ">
					<p><strong>{{ p.comments.name }}</strong> at {{ p.comments.comment_date }}</p>
					<p style="padding: 20px; background-color: #f1f1f1; border-radius: 7px; border:0.5px solid #c5c5c5">{{ p.body }}</p>
				</div>
				<!-- {% else %}
				<div style="border-radius: 10px; margin: 5px; padding: 25px; background-color: #b3d3c0;">
					<p><strong>{{ p.name }}</strong> at {{ p.created_at }}</p>
					<p style="padding: 20px; background-color: #c5e6d3; border-radius: 7px; border:0.5px solid #c5c5c5">{{ p.body }}</p>
				</div> -->
				<!-- {% endif %} -->
				{% endfor %}
                <h1>lasjlfjs</h1>
		</div>
	</div>
</div>


{% endblock %}