{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Custome Blog</a>
        <!-- <a class="navbar-brand" href="#"> <img src="{% static 'images/logo1.png' %}" height="50" width="120" alt=""></a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">{{ category.name }}</a>
                </li>
                {% endfor %} -->
                {% for category in category_3 %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">{{ category.name }}</a>
                </li>
                {% endfor %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in rest_category %}
                        <li><a class="dropdown-item" href="#">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'contact_us' %}">Contact Us</a>
                </li>

                <li class="nav-item">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
            </ul>

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if request.user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'registration' %}">Sign Up</a></li>
                    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>