{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Login </title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Custom styles for this template-->

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <h2 class="py-5 text-center">Welcome to the Password Reset Form</h2>
              <div class="col-lg-12">
                <div class="p-5">
                  <h1></h1>
                  <div class="alert alert-success">Please enter your new password so we can verify.</div>
                              <!-- <form action="" method="POST">
                                {% csrf_token %} 
                                {{form}}                                        This tag used for default
                                <input type="submit" value="Reset Password"/>
                              </form> -->
                  <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required=""
                          id="id_new_password1" placeholder="New password">
                    </div>
                      <div class="col-sm-6">
                      <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required=""
                        id="id_new_password2" placeholder="Confirm New password">
                      </div>
                    </div>
                    {% for fm in form %}
                            <small class="text-danger">{{ fm.errors|striptags }}</small>
                    {% endfor %}

                    <input type="submit" class="btn btn-outline-success float-end" value="Reset Password" /><br>
                  </form>
                  <br>
                  <hr>
                  <div class="text-center">
                    <a href="{% url 'home' %}">Return to home page</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'registration' %}">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</body>

</html>